.button-group {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.button-link {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
}

.button-link:hover {
  background-color: hsl(75, 94%, 57%);
}

body {
  background-color: hsl(0, 0%, 8%);
}

.card {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(0, 0%, 100%);
}